<div class="button">
<form action="/rooms/<%=room._id%>/?_method=DELETE" method="post" class="delete">
	<input type="submit" value="Delete">
</form>
<button class="edit"><a href="/rooms/<%=room._id%>/edit">Edit</a></button>

</div>