<div class="sports_form">
	<form action="/rooms" method="post">
		<div class="sports_grp">		
		<label>Room Type:</label>
		<input type="text" name="room[room_type]" placeholder="type">
		</div>

		<div class="sports_grp">
		<label>Price:</label>
		<input type="number" name="room[price]">
		</div>

		<div class="sports_grp">
		<label>Max number of People:</label>
		<input type="text" name="room[max_people]">
		</div>

		<div class="sports_grp">
		<label>Enter a small Description:</label>
		<textarea name="room[content]"></textarea>
		</div>

		<div class="sports_grp">
		<label>Hotel Name:</label>
		<input type="text" name="room[hotel_name]">
		</div>

		<div class="sports_grp">
		<label>Address:</label>
		<input type="text" name="room[street_address]">
		</div>

		<div class="sports_grp">
		<label>City:</label>
		<input type="text" name="room[city]">
		</div>

		<div class="sports_grp">
		<label>State:</label>
		<input type="text" name="room[state]">
		</div>

		<div class="sports_grp">
		<label>Zipcode:</label>
		<input type="text" name="room[zipcode]">
		</div>

		<input type="submit" value="Add this jont"/><br>
	</form>
</div>