
<div id="welcome">
<h1> Hotels and shit</h1>
</div>
	
<span class="home">
	<ul>
		<li><a href="users/new">Sign Up</a></li>
		<li><a href="/users/login">Log In</a></li>
	</ul>	
</span>

</body>
</html>