<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Perfect.sl A multi hotel shared inventory management system</title>


    <script>
  !function ($) {
    $(function(){
      // carousel demo
      $('#main-slider').carousel({interval:5000,})
    })
  }(window.jQuery)
</script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
	


    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>	
	
</head>

<body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
    <section id="main-slider" class= "no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
                <br/>
                <a class="btn btn-md animation animated-item-3" href="/users/login">Log In</a>
                	<a class="btn btn-md animation animated-item-1" href="users/new">Sign Up</a>
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="background-image: url('https://cdn.kiwicollection.com/media/property/PR000313/xl/000313-14-living-room-night.jpg')">
                	<div class="container">
                	    <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered">
                                    <h2 class="animation animated-item-1">Perfect.sl</h2>
                                    <p class="animation animated-item-2" >Post Rooms, Find Rooms, Reduce Headaches, Increase Productivity. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url('http://cdn.media.kiwicollection.com/media/property/PR000739/xl/000739-16-suite-livingroom-bedroom-evening.jpg')">
					 <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered">
                                    <h2 class="animation animated-item-1">Place Holder</h2>
                                    <p class="animation animated-item-2">Phasellus adipiscing felis a dictum dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at ligula risus. </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url('http://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2013/06/Hotel.jpg')">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered">
                                    <h2 class="animation animated-item-1">Place Holder</h2>
                                    <p class="animation animated-item-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae euismod lacus. Maecenas in tempor lectus. Nam mattis, odio ut dapibus ornare, libero. </p>
                                   
                             	</div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
      <!--   <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="icon-angle-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="icon-angle-right"></i>
        </a> -->
    </section><!--/#main-slider-->

		<!-- Services -->
        <div class="section section-white">
	        <div class="container">
	        	<div class="row">
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="glyphicon glyphicon-pushpin"></i>
		        			<h3>Post Listings</h3>
		        			<p>Post available rooms on our market place and connect with other managers that need rooms tonight.</p>
		        			
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="glyphicon glyphicon-search"></i>
		        			<h3>Search Listings</h3>
		        			<p>In a tough spot with inventory? Search tonight's listings and send your walks to the best possible place.</p>
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="glyphicon glyphicon-tag"></i>
		        			<h3>Control Costs</h3>
		        			<p>Keep up to date with the average rate on sold out nights, don't overpay for relocated guests.</p>
		        		</div>
	        		</div>
	        	</div>
	        </div>
	    </div>
	    <!-- End Services -->

		<!-- Footer -->
	    <div class="footer">
	    	<div class="container">
			
		    	<div class="row">
				
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Contact Us</h3>
		    			<p class="contact-us-details">
	        				<!-- <b>Address:</b>  <br/> -->
	        				<b>Phone:</b> 212 222 2222 |
	   
	        				<b>Email:</b> <a href="mailto:info@a.r.montenegro@gmail.com">info@perfect.sl</a>
	        			</p>
		    		</div>				
		    		
		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright">&copy; 2015  Montenegro-Cortes Productions. 
		    		</div>
		    	</div>
		    </div>
	    </div>
    
    </body>
</html>
</body>
</html>
<div class="container">

