<div id="welcome">
<h1> Please sign in!</h1>
</div>
	


<form action="/users" method="post" id="signup_form">
	<div class="form-header">Please Sign Up</div>
	<div class="form-grp">

	    <label>First Name: </label>
	    <input type="text" name="user[first_name]">

	    <label>Last Name: </label>
	    <input type="text" name="user[last_name]">

	    <label>Email: </label>
	    <input type="text" name="user[email]">

	    <label>Password: </label>
	    <input type="password" name="user[password]">

	    <label>Name of your Hotel: </label>
	    <input type="text" name="user[hotel_name]">

	    <label>Address: </label>
	    <input type="text" name="user[street_address]">

	    <label>City: </label>
	    <input type="text" name="user[city]">

	    <label>State: </label>
	    <input type="text" name="user[state]">

	    <label>Zipcode: </label>
	    <input type="text" name="user[zipcode]">
	    	    
	</div>
	<input type="submit" value="Sign Up">
	
</form>
