<div class="jumbotron">
  <div class="container">
	Hi <br>
    
  </div>
</div>

<div class="footer">
	    	<div class="container">
			
		    	<div class="row">
				
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Contact Us</h3>
		    			<p class="contact-us-details">
	        				<!-- <b>Address:</b>  <br/> -->
	        				<b>Phone:</b> 212 222 2222<br/>
	   
	        				<b>Email:</b> <a href="mailto:info@a.r.montenegro@gmail.com">info@perfect.sl</a>
	        			</p>
		    		</div>				
		    		
		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright">&copy; 2015  Montenegro-Cortes Productions. 
		    		</div>
		    	</div>
		    </div>
	    </div>